*.DS_Store
.idea
.bundle
my_bundle
out.txt
test_fails.txt
workflows/*/out.osw
workflows/*/reports
workflows/*/run
measures/*/tests/output
measures/*/output_models/
test/*/*.osm
test/output_models/**/run
test/output_models/**/reports
test/output_models/**/out.osw
installer_staging
gbxml-to-openstudio.aip
gbxml-to-openstudio-cache
gbxml-to-openstudio-SetupFiles
gbxml-to-openstudio.out.aip
gbxml-to-openstudio.out-cache
gbxml-to-openstudio.out-SetupFiles
test/resources/revit_test_models/*.0*.rvt
test/output_models/manual/
gbxmls/Cases/