*.DS_Store
.idea
.bundle
my_bundle
out.txt
test_fails.txt

/OpenStudio CLI For Revit 2020-cache/
/OpenStudio CLI For Revit 2020-SetupFiles/
installer_staging
measures/*/output_models/
measures/*/tests/output
test/*/*.osm
test/output_models/**/run
test/output_models/**/reports
test/output_models/**/out.osw
test/output_models/manual/
test/resources/revit_test_models/*.0*.rvt
workflows/out.osw
workflows/reports
workflows/run
workflows/**/out.osw
workflows/**/reports
workflows/**/run